@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; outline:none; border:0;}
body{font-family:"微软雅黑"; background:#fdfdfd;}
/*head*/
#bg{
	width:1200px; 
	height:617px; 
	background:url(../images/bg.png) no-repeat;
	margin:0 auto; 
}
.nav{
	width:850px; 
	height:50px; 
	background:; 
	margin:0 auto; 
	padding:50px 0 0 150px;
	background:url(../images/logo.png) left center no-repeat;
}
.nav span{
	color:#685649;
	font-size:16px;
	padding:0 30px;
}
.nav .search{
	float:right;
	width:200px;
	height:30px;
	line-height:30px;
	border-radius:100px;
	color:#aaa;
	font-size:14px;
	background:#fff url(../images/f.png) no-repeat 10px center;
	}
/*head*/
/*news*/
#news{
	width:1200px; 
	height:455px; 
	background:url(../images/dongtai.jpg) center top no-repeat; 
	margin:18px auto; 
	padding-top:120px;
}
.news_con{
	float:left; 
	margin-left:70px;
}
.news_con .one{
	width:284px; 
	height:50px; 
	padding-left:10px;
	line-height:50px; 
	font-weight:bold; 
	font-size:16px; 
	border-bottom:1px solid #ddd;
}
.news_con .two{
	width:284px;
	height:70px;
	line-height:20px; 
	padding:10px 0 0 10px; 
	font-size:12px; 
	color:#bbb; 
}
.news_con .shadow{
	width:294px; 
	height:5px; 
	background:url(../images/yinying.jpg) no-repeat; 
}
/*news*/
/*exhibition*/
#exhibition{
	width:1200px; 
	background-image:radial-gradient(ellipse at center,#fff,#d6e4ed);
	margin:50px auto;
}
.tittle{
	width:636px; 
	height:150px; 
	margin:0px auto; 
	background:url(../images/shenghuo.png) no-repeat center center;
	}
#exhibition .pic{
	width:1000px;
	height:360px;
	margin:0 auto;
}
#exhibition .pic img{margin-left:45px;}
/*exhibition*/
/*foot*/
#footer{
	width:1200px; 
	height:80px; 
	background:url(../images/footer_bg.jpg) repeat-x; 
	color:#fff; 
	text-align:center; 
	line-height:80px;
	margin:0 auto;
}
.tree{
	position:fixed; 
	right:5%;
	bottom:5%;
}
/*foot*/












